{% load static i18n %}
{% csrf_token %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js" type="module"></script>
  <script src="{% static 'pong/js/game.js' %}" type="module"></script>
{% endblock scripts %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="p-4 mt-5 mb-5" style="background-color: rgba(var(--bs-body-bg-rgb), 0.9); border-radius: 20px;">
        
        <!-- Game title and score -->
        <div class="d-flex justify-content-around mt-2 p-3 bg-light rounded shadow">
          <div id="player-l" class="fs-4 text-primary">
            <span id="player-l-name" class="fw-bold">{{ player1 }}</span>
            :
            <span id="player-l-score">0</span>
          </div>
          <div id="player-r" class="fs-4 text-danger">
            <span id="player-r-name" class="fw-bold">{{ player2 }}</span>
            :
            <span id="player-r-score">0</span>
          </div>
        </div>

        <div class="d-flex align-items-center bg-light rounded shadow canvas-display">
          <!-- Player 1 Controls -->
          <div id="player1-controls" class="d-flex align-items-center p-3">
            <div id="player1-control-buttons" class="d-flex align-items-center">
              <div class="d-flex align-items-center control-button">
                <div>
                  <span class="badge bg-secondary control-key">W</span>
                </div>
                <div>
                  <button id="left-up" class="btn btn-primary m-2"><i class="bi bi-arrow-up"></i></button>
                </div>
              </div>
              <div class="d-flex align-items-center control-button">
                <div>
                  <span class="badge bg-secondary control-key">S</span>
                </div>
                <div>
                  <button id="left-down" class="btn btn-primary m-2"><i class="bi bi-arrow-down"></i></button>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Game Canvas -->
          <div id="game-wrapper" class="d-flex justify-content-center align-items-center">
            <canvas id="game-canvas" class="d-block"></canvas>
          </div>

          <!-- Player 2 Controls -->
          <div id="player2-controls" class="d-flex align-items-center p-3">
            <div id="player2-control-buttons" class="d-flex align-items-center">
              <div class="d-flex align-items-center control-button">
                <div>
                  <button id="right-up" class="btn btn-danger m-2"><i class="bi bi-arrow-up"></i></button>
                </div>
                <div>
                  <span class="badge bg-secondary control-key">I</span>
                </div>
              </div>
              <div class="d-flex align-items-center control-button">
                <div>
                  <button id="right-down" class="btn btn-danger m-2"><i class="bi bi-arrow-down"></i></button>
                </div>
                <div>
                  <span class="badge bg-secondary control-key">K</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Game Status Modal -->
        <div class="modal fade" id="game-result-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gameResultModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="gameResultModalLabel">{% trans "Game is Over" %}</h5>
              </div>
              <div class="modal-body">
                <!-- Message will be inserted here -->
              </div>
              <div id="gameOverButtons" class="modal-footer">
                <!--- Add buttons dynamically -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
