{% load static i18n %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="p-4 mt-5" style="background-color: rgba(var(--bs-body-bg-rgb), 0.9); border-radius: 20px;">
        
        <div class="text-center">
          <!-- Title -->
          <h2 class="fs-1 mb-1">
            <i class="bi bi-person me-2"></i>
            {% trans "Profile" %}
          </h2>

          <hr>

          <!-- Display Name -->
          <div class="d-flex justify-content-center align-items-center mb-3">
            <h4 class="fw-bold">{{ user.display_name }}</h2>
            <button class="btn btn-link ms-2" onclick="showEditModal('display_name')">
              <i class="bi bi-pencil"></i>
            </button>
          </div>

          <!-- Avatar -->
          <div class="position-relative d-inline-block">
            <img src="{{ MEDIA_URL }}{{ user.avatar }}" class="avatar rounded-circle mb-3" alt="Avatar" style="width: 150px; height: 150px; object-fit: cover;">
            <button class="btn btn-primary position-absolute bottom-0 start-0" onclick="showEditModal('avatar')" style="border-radius: 50%;">
              <i class="bi bi-pencil"></i>
            </button>
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-md-6">

            <!-- Username -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="username" class="form-label"><strong>{% trans "Username" %}</strong></label>
                <p id="username">{{ user.username }}</p>
              </div>
              <button id="username-info" type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top">
                <i class="bi bi-info-circle"></i>
              </button>
            </div>

            <!-- First Name -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="first_name" class="form-label"><strong>{% trans "First Name" %}</strong></label>
                <p id="first_name" class="me-2">{{ user.first_name }}</p>
              </div>
              <button class="btn btn-link ms-2" onclick="showEditModal('first_name')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            
            <!-- Last Name -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="last_name" class="form-label"><strong>{% trans "Last Name" %}</strong></label>
                <p id="last_name" class="me-2">{{ user.last_name }}</p>
              </div>
              <button class="btn btn-link" onclick="showEditModal('last_name')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>

          </div>
          <div class="col-md-6">

            <!-- Email -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="email" class="form-label"><strong>{% trans "Email" %}</strong></label>
                <p id="email" class="me-2">{{ user.email }}</p>
              </div>
              <button class="btn btn-link p-0" onclick="showEditModal('email')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>

            <!-- Password -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="password" class="form-label"><strong>{% trans "Password" %}</strong></label>
                <p id="password" class="me-2">••••••••</p>
              </div>
              <button class="btn btn-link p-0" onclick="showEditModal('password')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>

            <!-- game Token -->
            <div class="d-flex align-items-center">
              <div class="me-1">
                <label for="game_token" class="form-label"><strong>{% trans "Game Token" %}</strong></label>
                <p id="game_token" class="me-2">{{ user.game_token }}</p>
              </div>
              <button class="btn btn-link p-0" onclick="renewGameToken()">
                <i class="bi bi-arrow-clockwise"></i>
              </button>
            </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "../components/modals/editProfile.html" %}

{% endblock content %}
