{% load static i18n %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex flex-wrap p-4 mt-5 mb-5" style="background-color: rgba(var(--bs-body-bg-rgb), 0.9); border-radius: 20px;">
        <div class="container text-center">

          <!--- Title -->
          <h2 class="fs-1 mb-1">
            <i class="bi bi-trophy me-2"></i>
            {% trans "Tournament" %}
          </h2>

          <hr>

          <div class="bracket">
            <div id="quarterFinals" class="round bottom-border">
              <div class="stage">{% trans "Quarter-Finals" %}</div>
              <div id="match-1" class="matchup quarter">
                <div class="player">Player 1</div>
                <div class="vs">vs</div>
                <div class="player">Player 8</div>
              </div>
              <div id="match-2" class="matchup quarter">
                <div class="player">Player 4</div>
                <div class="vs">vs</div>
                <div class="player">Player 5</div>
              </div>
              <div id="match-3" class="matchup quarter">
                <div class="player">Player 3</div>
                <div class="vs">vs</div>
                <div class="player">Player 6</div>
              </div>
              <div id="match-4" class="matchup quarter">
                <div class="player">Player 2</div>
                <div class="vs">vs</div>
                <div class="player">Player 7</div>
              </div>
            </div>
            <div class="stage">{% trans "Semi-Finals" %}</div>
            <div class="round bottom-border">
              <div id="semi-1" class="matchup semi">
                <div class="player">{% trans "Winner Match 1" %}</div>
                <div class="vs">vs</div>
                <div class="player">{% trans "Winner Match 2" %}</div>
              </div>
              <div id="semi-2" class="matchup semi">
                <div class="player">{% trans "Winner Match 3" %}</div>
                <div class="vs">vs</div>
                <div class="player">{% trans "Winner Match 4" %}</div>
              </div>
            </div>
            <div class="stage">{% trans "Final" %}</div>
            <div class="round">
              <div id="final" class="matchup">
                <div class="player">{% trans "Winner Semi-final 1" %}</div>
                <div class="vs">vs</div>
                <div class="player">{% trans "Winner Semi-final 2" %}</div>
              </div>
            </div>

            <hr>
            
            <div class="stage">{% trans "Next Match" %}</div>
            <div class="round ">
              <div id="next-match" class="matchup">
                <div id="player-l" class="current">Player L</div>
                <div class="vs">vs</div>
                <div id="player-r" class="current">Player R</div>
              </div>
            </div>
            
          </div>
          <a
            id="play-next-match"
            type="button"
            class="d-block btn btn-primary fw-bold mt-3"
          >{% trans "Play Next Match" %}</a>
        </div>

      </div> 
    </div>
  </div>
</div>
{% endblock content %}
