<div>
  <div class="bracket">
    <div class="round bottom-border">
      <div id="match-1" class="matchup quarter">
        <div class="player">Player 1</div>
        <div class="vs">vs</div>
        <div class="player">Player 8</div>
      </div>
      <div id="match-2" class="matchup quarter">
        <div class="player">Player 4</div>
        <div>vs</div>
        <div class="player">Player 5</div>
      </div>
      <div id="match-3" class="matchup quarter">
        <div class="player">Player 3</div>
        <div>vs</div>
        <div class="player">Player 6</div>
      </div>
      <div id="match-4" class="matchup quarter">
        <div class="player">Player 2</div>
        <div>vs</div>
        <div class="player">Player 7</div>
      </div>
    </div>
    <div class="round bottom-border">
      <div id="semi-1" class="matchup semi">
        <div class="player">Winner Match 1</div>
        <div>vs</div>
        <div class="player">Winner Match 2</div>
      </div>
      <div id="semi-2" class="matchup semi">
        <div class="player">Winner Match 3</div>
        <div>vs</div>
        <div class="player">Winner Match 4</div>
      </div>
    </div>
    <div class="round">
      <div id="final" class="matchup">
        <div class="player">Winner Semi-final 1</div>
        <div>vs</div>
        <div class="player">Winner Semi-final 2</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center gap-3 fs-3 mt-5">
    <div id="player-l" class="fw-bold">Player X</div>
    <div class="fs-4">vs</div>
    <div id="player-r" class="fw-bold">Player Y</div>
  </div>
  <a
    onclick="showSection('/tournament/game/')"
    type="button"
    class="d-block btn btn-primary btn-lg col-8 mx-auto fw-bold mt-3"
    >PLAY</a
  >
</div>
