{% load static i18n %}
{% block content %}

<div class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">

    <!-- Logo on the left -->
    <div class="me-auto">
      <a type="button" class="navbar-brand" onclick="showSection('/')">
        <img src="../../../static/pong/img/pong-icon.svg" width="40" height="40"
          class="d-inline-block align-text-center" alt="Logo">
        <img src="../../../static/pong/img/pong-logo.svg" class="d-none d-lg-inline" alt="Logo">
      </a>
    </div>

    <!-- Language Dropdown, Theme Toggle, and Chat Button on the left side of the Account Dropdown -->
    <div class="d-flex align-items-center ">

      <!-- Language Dropdown -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
          aria-expanded="false">
          {% if request.LANGUAGE_CODE == 'en' %}
          <img src="{% static 'pong/img/flags/us.png' %}" alt="US Flag" width="20" height="20">
          {% elif request.LANGUAGE_CODE == 'pt' %}
          <img src="{% static 'pong/img/flags/br.png' %}" alt="Brazil Flag" width="20" height="20">
          {% elif request.LANGUAGE_CODE == 'es' %}
          <img src="{% static 'pong/img/flags/es.png' %}" alt="Spain Flag" width="20" height="20">
          {% elif request.LANGUAGE_CODE == 'fr' %}
          <img src="{% static 'pong/img/flags/fr.png' %}" alt="France Flag" width="20" height="20">
          {% endif %}
          <span class="d-none d-lg-inline">{{ request.LANGUAGE_CODE|upper }}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item d-flex align-items-center" href="{% url 'set-language' %}?language=en&next={{ request.get_full_path }}">
            <img class="me-2" src="{% static 'pong/img/flags/us.png' %}" alt="US Flag" width="20" height="20"> 
            <span class="text-start w-100">{% trans "English" %}</span>
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center" href="{% url 'set-language' %}?language=pt&next={{ request.get_full_path }}">
            <img class="me-2" src="{% static 'pong/img/flags/br.png' %}" alt="Brazil Flag" width="20" height="20"> 
            <span class="text-start w-100">{% trans "Portuguese" %}</span>
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center" href="{% url 'set-language' %}?language=es&next={{ request.get_full_path }}">
            <img class="me-2" src="{% static 'pong/img/flags/es.png' %}" alt="Spain Flag" width="20" height="20"> 
            <span class="text-start w-100">{% trans "Spanish" %}</span>
          </a></li>
          <li><a class="dropdown-item d-flex align-items-center" href="{% url 'set-language' %}?language=fr&next={{ request.get_full_path }}">
            <img class="me-2" src="{% static 'pong/img/flags/fr.png' %}" alt="France Flag" width="20" height="20"> 
            <span class="text-start w-100">{% trans "French" %}</span>
          </a></li>
        </ul>
      </div>


      <!-- Theme Display Settings -->
      <button id="theme-toggle" class="btn btn-outline-secondary ms-2" aria-label="Toggle Theme">
        <i id="theme-icon" class="bi bi-moon"></i>
      </button>

      {% if user.is_authenticated %}

      <!-- Chat Button -->
      <button id="openSocialOffCanvas" type="button" class="btn btn-primary position-relative expand-button ms-2 me-2"
        data-bs-toggle="offcanvas" data-bs-target="#socialOffCanvas">
        <i class="bi bi-people-fill"></i>
        <span class="d-none d-lg-inline ms-2">{% trans "Social" %}</span>
        <span id="unreadMessagesBadge"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" hidden>
          <!-- Dynamically include the number of unread messages -->
        </span>
      </button>

      <!-- Account Dropdown on the right -->
      <div class="dropdown ms-2">
        <button id="profileButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img id="avatarImg" src="{{ MEDIA_URL }}{{ user.avatar }}" class="avatar rounded-circle" alt="Avatar">
          <span id="displayNameSpan" class="ms-2 d-none d-lg-inline">{{ user.display_name }}</span>
        </button>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileButton">
          <!-- Welcome Message -->
          <li class="dropdown-header text-end">
            {% trans "Welcome," %} {{ user.username }}!
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center" href="/profile/">
              <span class="text-end w-100">{% trans "Profile" %}</span>
              <i class="bi bi-person ms-2"></i>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex justify-content-between align-items-center" href="/stats/">
              <span class="text-end w-100">{% trans "Stats" %}</span>
              <i class="bi bi-graph-up ms-2"></i>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item fw-bold d-flex justify-content-between align-items-center" onclick="logout()">
              <span class="text-end w-100">{% trans "Logout" %}</span>
              <i class="bi bi-box-arrow-right ms-2"></i>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}