{% load static i18n %}
{% block content %}

<div class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <!-- Account Dropdown -->
    {% if user.is_authenticated %}
    <div>
      <div class="dropdown-center">
        <button id="profileButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img id="avatarImg" src="{{ MEDIA_URL }}{{ user.avatar }}" class="avatar rounded-circle me-3" alt="Avatar">
          <span id="displayNameSpan" class="me-3">{{ user.display_name }}</span>
        </button>

        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" onclick="showSection('/profile/')">
              <i class="bi bi-person me-2"></i>{% trans "Profile" %}
            </a></li>
          <li><a class="dropdown-item" onclick="showSection('/stats/')">
              <i class="bi bi-graph-up me-2"></i>{% trans "Stats" %}
            </a></li>
          <li><a class="dropdown-item" href="/profile/">
              <i class="bi bi-gear me-2"></i>{% trans "Settings" %}
            </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item fw-bold" href="/logout">
              <i class="bi bi-box-arrow-right me-2"></i>{% trans "Logout" %}
            </a></li>
        </ul>
      </div>
    </div>
    {% endif %}

    <!-- Brand -->
    <div class="ms-auto me-auto">
      <a type="button" class="navbar-brand" onclick="showSection('/')">
        <img src="../../../static/pong/img/pong-icon.svg" width="40" height="40"
          class="d-inline-block align-text-center" alt="Logo">
        <strong style="font-family: 'Roboto', sans-serif;">PonGame</strong>
      </a>
    </div>

    <div class="ms-2 d-flex align-items-center">

      <!-- Language Dropdown -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          {% if request.LANGUAGE_CODE == 'en' %}
            <img src="{% static 'pong/img/flags/us.png' %}" alt="US Flag" width="20" height="20" class="me-2">
          {% elif request.LANGUAGE_CODE == 'pt' %}
            <img src="{% static 'pong/img/flags/br.png' %}" alt="Brazil Flag" width="20" height="20" class="me-2">
          {% elif request.LANGUAGE_CODE == 'es' %}
          <img src="{% static 'pong/img/flags/es.png' %}" alt="Spain Flag" width="20" height="20" class="me-2">
            {% elif request.LANGUAGE_CODE == 'fr' %}
          <img src="{% static 'pong/img/flags/fr.png' %}" alt="France Flag" width="20" height="20" class="me-2">
            {% endif %}
          {{ request.LANGUAGE_CODE|upper }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item" href="{% url 'set-language' %}?language=en&next={{ request.get_full_path }}"><img class="me-2" src="{% static 'pong/img/flags/us.png' %}" alt="US Flag" width="20" height="20"> {% trans "English" %}</a></li>
          <li><a class="dropdown-item" href="{% url 'set-language' %}?language=pt&next={{ request.get_full_path }}"><img class="me-2" src="{% static 'pong/img/flags/br.png' %}" alt="Brazil Flag" width="20" height="20"> {% trans "Portuguese" %}</a></li>
          <li><a class="dropdown-item" href="{% url 'set-language' %}?language=es&next={{ request.get_full_path }}"><img class="me-2" src="{% static 'pong/img/flags/es.png' %}" alt="Spain Flag" width="20" height="20"> {% trans "Spanish" %}</a></li>
          <li><a class="dropdown-item" href="{% url 'set-language' %}?language=fr&next={{ request.get_full_path }}"><img class="me-2" src="{% static 'pong/img/flags/fr.png' %}" alt="France Flag" width="20" height="20"> {% trans "French" %}</a></li>
        </ul>
      </div>

      <!-- Theme Display Settings -->
      <button id="theme-toggle" class="btn btn-outline-secondary ms-2" aria-label="Toggle Theme">
        <i id="theme-icon" class="bi bi-moon"></i>
      </button>

      <!-- Chat Button -->
      {% if user.is_authenticated %}
      <button id="openSocialOffCanvas" type="button" class="btn btn-primary position-relative expand-button ms-2 me-3" data-bs-toggle="offcanvas" data-bs-target="#socialOffCanvas">
        <i class="bi bi-people-fill me-2"></i> {% trans "Social" %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">42</span>
      </button>
      {% endif %}
    </div>

  </div>
</div>

{% endblock %}