{% load static %}
{% csrf_token %}
{% block content %}
  <div class="d-flex justify-content-evenly mt-5">
    <div id="player-l" class="fs-3">
      <span id="player-l-name" class="fw-bold">Nickname</span>
      :
      <span id="player-l-score"></span>
    </div>
    <div id="player-r" class="fs-3">
      <span id="player-r-name" class="fw-bold">Guest</span>
      :
      <span id="player-r-score"></span>
    </div>
  </div>
  <div id="game-wrapper"
       class="position-relative"
       style="width: 75dvw;
              height: 75dvh">
    <div id="game-over"
         class="flex-column align-items-center justify-content-around position-absolute z-1 w-50 h-50 bg-secondary-subtle rounded-3"
         style="top: 25%;
                left: 25%;
                display: none">
      <div class="text-center fs-3">
        <span id="popup-winner-name">intra_nickname</span>
        <span>won!</span>
      </div>
      <button id="back" type="button" class="btn w-75 btn-primary fw-bold">BACK TO TOURNAMENT</button>
    </div>
    <canvas id="game-canvas" class="d-block mx-auto mt-1 position-absolute" />
  </div>
{% endblock content %}
