<div
  id="sidebar"
  class="d-flex flex-column flex-nowrap sticky-top px-3 bg-secondary-subtle"
  style="height: 100dvh"
>
  <ul
    class="nav nav-pills nav-flush flex-column flex-nowrap mb-auto mx-auto text-center align-items-start"
  >
    <li class="nav-item">
      <a
        onclick="showSection('/')"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center icon-link-hover"
        title=""
      >
        <i class="bi-play-fill me-2 fs-4"></i>
        <span>Play</span>
      </a>
    </li>
    <li>
      <a
        onclick="showSection('/social/')"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-people-fill me-2 fs-4"></i>
        <span>Social</span>
      </a>
    </li>
    <li>
      <a
        onclick="showSection('/stats/')"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-bar-chart-fill me-2 fs-4"></i>
        <span>Stats</span>
      </a>
    </li>
    <li>
      <a
        onclick="showSection('/profile/')"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-person-circle me-2 fs-4"></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a
        href="/logout"
        class="nav-link py-3 fs-5 fw-bold text-body d-flex align-items-center"
        title=""
      >
        <i class="bi-door-closed-fill me-2 fs-4"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
