{% load static i18n %}
{% block content %}

<!-- HTML Templates -->
<div id="formTemplates" style="display: none;">
    <!-- Avatar Form Template -->
    <div id="avatarTemplate">
      <input type="hidden" name="field" value="avatar">
      <label for="editInputAvatar" class="form-label">{% trans "Upload New Avatar" %}</label>
      <input type="file" class="form-control" id="editInputAvatar" name="new_value" accept="image/*">
    </div>
    
    <!-- Password Form Template -->
    <div id="passwordTemplate">
      <input type="hidden" name="field" value="password">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="editInputOldPassword" name="old_value" placeholder="" required>
        <label for="editInputOldPassword" class="form-label">{% trans "Current Password" %}</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="editInputNewPassword" name="new_value" placeholder="" required>
        <label for="editInputNewPassword" class="form-label">{% trans "New Password" %}</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="editInputConfirmNewPassword" name="confirm_value" placeholder="" required>
        <label for="editInputConfirmNewPassword" class="form-label">{% trans "Confirm New Password" %}</label>
      </div>
      <div class="mb-3">
        <div id="passwordEditMatchWarning" style="color: green;"></div>
      </div>
    </div>
  
    <!-- Other Fields Template -->
    <div id="displayNameTemplate" class="align-items-center">
      <div class="d-flex flex-column">
        <p class="ps-2" style="font-size: small;">Current display name</p>
        <p class="ps-4 mb-3"><strong>{{ user.display_name }}</strong></p>
      </div>
      <input type="hidden" name="field" value="display_name">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="editInputDisplayName" name="new_value" minlength="3" maxlength="50" placeholder="" required>
        <label for="editInputDisplayName" class="form-label">{% trans "New display name..." %}</label>
      </div>
    </div>
    <div id="firstNameTemplate">
      <div class="d-flex flex-column">
        <p class="ps-2" style="font-size: small;">Current first name</p>
        <p class="ps-4 mb-3"><strong>{{ user.first_name }}</strong></p>
      </div>
      <input type="hidden" name="field" value="first_name">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="editInputFirstName" name="new_value" minlength="3" maxlength="50" placeholder="" required>
        <label for="editInputFirstName" class="form-label">{% trans "New first name..." %}</label>
      </div>
    </div>
    <div id="lastNameTemplate">
      <div class="d-flex flex-column">
        <p class="ps-2" style="font-size: small;">Current last name</p>
        <p class="ps-4 mb-3"><strong>{{ user.last_name }}</strong></p>
      </div>
      <input type="hidden" name="field" value="last_name">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="editInputLastName" name="new_value" minlength="3" maxlength="50" placeholder="" required>
        <label for="editInputLastName" class="form-label">{% trans "New last name..." %}</label>
      </div>
    </div>
    <div id="emailTemplate">
      <div class="d-flex flex-column">
        <p class="ps-2" style="font-size: small;">Current e-mail</p>
        <p class="ps-4 mb-3"><strong>{{ user.email }}</strong></p>
      </div>
      <input type="hidden" name="field" value="email">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="editInputEmail" name="new_value" placeholder="" required>
        <label for="editInputEmail" class="form-label">{% trans "New e-mail address..." %}</label>
      </div>
    </div>
  </div>

{% endblock content %}
