<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="errorModalLabel">Error</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="errorMessage"></p>
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById('loginForm').addEventListener('submit', function(event) {
		event.preventDefault();

		const form = event.target;
		const formData = new FormData(form);
		var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));

		fetch(form.action, {
			method: 'POST',
			body: formData,
			headers: {
				'X-CSRFToken': '{{ csrf_token }}'
			}
		})
		.then(response => response.json())
		.then(data => {
			document.getElementById('errorMessage').textContent = data.error;
			errorModal.show();
		})
		.catch(error => {
			console.error('Error:', error);
			document.getElementById('errorMessage').textContent = 'An unexpected error occurred.';
			errorModal.show();
		});
	});
</script>