<!-- registerModel -->
<div class="modal fade" id="registerModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerModelLabel" aria-hidden="true">	
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="background-color: rgba(255, 255, 255, 0.95);">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="registerModelLabel">Register to play</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="app" class="d-flex justify-content-center mt-3">
					<form id="registerForm" method="POST" action="{% url 'register-user' %}">
						{% csrf_token %}
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="username" name="username" required>
							<label for="username" class="form-label">Username</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="first_name" name="first_name" required>
							<label for="first_name" class="form-label">First Name</label>
						</div>
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="last_name" name="last_name" required>
							<label for="last_name" class="form-label">Last Name</label>
						</div>
						<div class="form-floating mb-3">
							<input type="email" class="form-control" id="email" name="email" required>
							<label for="email" class="form-label">E-mail</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="password" name="password" required>
							<label for="password" class="form-label">Password</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
							<label for="confirm_password" class="form-label">Confirm Password</label>
							<div id="password-match-warning" style="color: green;"></div>
						</div>
						
						<div class="modal-footer">
							<button id="register-button" type="submit" class="btn btn-primary" disabled>Sign up</button>
						</div>
					</form>
				</div>
			</div>
    	</div>
	</div>
</div>

<!-- registerModelResponse -->
<div class="modal fade" id="registerModelResponse" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="registerModelResponseLabel"></h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div id="registerModelResponseContent" class="modal-body"></div>
			<div class="modal-footer">
				<button id="returnToRegister" class="btn btn-primary" data-bs-target="#registerModel" data-bs-toggle="modal">Return to register</button>
			</div>
		</div>
	</div>
</div>
