#chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

#chatLog {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    height: 60vh;
}

#messageForm {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}