#chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
}

#chatLog {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    height: 60vh;
}

#messageForm {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.custom-modal-size .modal-dialog {
    width: 800px;
    max-width: 800px;
  }
  
  .custom-modal-size .modal-content {
    height: 100%; /* Garante que o conteúdo do modal preencha a altura */
  }
  