<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    {% load static i18n %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}
        PonGame
      {% endblock title %}
    </title>

    <link rel="icon" type="image/x-icon" href="{% static 'pong/img/pong-icon.svg' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'pong/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pong/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'pong/css/brackets.css' %}">
    <link rel="stylesheet" href="{% static 'pong/css/avatar.css' %}">
    <link rel="stylesheet" href="{% static 'pong/css/chat.css' %}">

    <script>
      window.translations = {
          'error': '{% trans "Error" %}',
          'body_error': '{% blocktrans %}{{ error }}: {{ body_error }}{% endblocktrans %}',
          // Add more translations as needed
      };
    </script>
  </head>
  
  <body>
    {% include "./components/navBar.html" %}
    <div id="app" class="mx-auto">
      {% block content %}{% endblock content %}
    </div>
    {% include "./components/social.html" %}
    
    <script src="{% static 'pong/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pong/js/navBar.js' %}"></script>
    
    {% block scripts %}
      <script src="{% static 'pong/js/router.js' %}"></script>
      <script src="{% static 'pong/js/home.js' %}"></script>
      <script src="{% static 'pong/js/profile.js' %}"></script>
      <script src="{% static 'pong/js/stats.js' %}"></script>
      <script src="{% static 'pong/js/game.js' %}" type="module"></script>
      <script src="{% static 'pong/js/tournament.js' %}" type="module"></script>
      <script src="{% static 'pong/js/tournamentForm.js' %}" type="module"></script>
      <script src="{% static 'pong/js/winner.js' %}"></script>
    {% endblock scripts %}
  </body>
</html>